<%- include('partials/headerAuth') -%>
<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>Welcome, <%= user.userName %></h2>
    </header>

    <div>
      <h2>Add a show</h2>
      <form action="/show/createShow" enctype="multipart/form-data" method="POST" class="col-4">
        <div>
          <label for="artist">Artist or Group</label>
          <input type="text" name="artist" id="artist">
        </div>
        <div>
          <label for="tourName">Name of Tour</label>
          <input type="text" name="tourName" id="tourName">
        </div>
        <div>
          <label for="venue">Venue</label>
          <input type="text" name="venue" id="venue">
        </div>
        <div>
          <label for="imgUpload">Image</label>
          <input type="file" name="file" id="imageUpload">
        </div>
        <button type="submit" value="Upload">Submit</button>
      </form>
    </div>

    <div class="row gtr-150">
      <div class="col-4 col-12-medium">
        <section id="sidebar">
          <section>
            <h3>Magna Feugiat</h3>
            <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
              </ul>
            </footer>
          </section>
          <hr />

          <section>
            <% for (let i = 0; i < shows.length; i++) { %>
              <h3><%= shows[i].artist %></h3>
              <a href="/show/<%= shows[i]._id %> ">
              <img class="image fit" src="<%= shows[i].image %>" alt="" /></a>
              <p><%= shows[i].venue %></p>

              <footer>
                <ul class="actions">
                  <li><a href="#" class="button">Learn More</a></li>
                </ul>
              </footer>
            <% } %>
          </section>

        </section>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>