<%- include('partials/headerAuth') -%>
<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h1>Welcome, <%= user.userName %></h1>
    </header>

    <div class="shows-attended">
      <h4>You've attended <%= shows.length %>
        show<%= shows.length == 1 ? "" : "s" %>
      </h4>
      <a href="#add-show" class="button">Add show</a>
    </div>

    <header class="major">
      <h2>Your Shows</h2>
    </header>

    <div class="row gtr-150">
      <div class="col-12-medium">
        <section id="sidebar">

          <section class="shows">
            <% for (let i = 0; i < shows.length; i++) { %>
              <div class="show">
                <div class="artist-date">
                  <h3><%= shows[i].artist %></h3>
                  <span><%= shows[i].formattedDate %></span>
                </div>
                <a href="/show/<%= shows[i]._id %> ">
                <img class="image fit" src="<%= shows[i].image %>" alt="" /></a>
              </div>
            <% } %>
          </section>

        </section>
      </div>
    </div>

    <section id="add-show">

      <header class="major">
        <h2>Add a show</h2>
      </header>

      <form action="/show/createShow" enctype="multipart/form-data" method="POST" class="cta">
        <div>
          <label for="artist">Artist or Group</label>
          <input type="text" name="artist" id="artist">
        </div>
        <div>
          <label for="tourName">Name of Tour</label>
          <input type="text" name="tourName" id="tourName">
        </div>
        <div>
          <label for="venue">Venue</label>
          <input type="text" name="venue" id="venue">
        </div>
        <div>
          <label for="date">Date</label>
          <input type="date" name="date" id="date">
        </div>
        <div class="btn-wrap">
          <div class="file-btn">
            <label for="">Image</label>
            <label class="button" for="imgUpload">Choose file</label>
            <input type="file" name="file" id="imgUpload">
          </div>
        </div>
        <button class="button primary fit" type="submit" value="Upload">Submit</button>
      </form>
    </section>

  </div>
</div>
<%- include('partials/footer') -%>