<%- include('partials/headerAuth') -%>

<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h1><%= show.artist %></h1>
    </header>

    <!-- Content -->
    <section id="content" class="show-view">
      <a href="#" class="image fit"><img src="<%= show.image %>" alt="" /></a>
      <div id="show-info" class="col-12">
        <div id="tour-date">
          <h3><%= show.tourName || "Really Sweet Tour Name" %></h3>
          <h3><%= show.formattedDate %></h3>
        </div>
        <div id="location">
          <h4><%= show.venue || "Name of Venue" %></h4>
          <h4>Washington, DC</h4>
        </div>
        <div id="actions">
          <form action="/show/updateAttendance/<%= show.id %>?_method=PUT" method="POST">
            <button type="submit" class="button"><span>
            <% if (user.showsAttended.includes(show.id)) { %>
              Attended</span> <a class="alt fas fa-check"></a>
            <% } else { %>
              Did not attend</span> <a class="fas fa-times"></a>
            <% } %>
            </button>
          </form>
        
          <form action="/show/updateLikes/<%= show.id %>?_method=PUT" method="POST">
          <button type="submit" class="button">
            <span><%= show.userLikes.length %></span>
            <% if (show.userLikes.includes(user.id)) { %>
              <a class="icon fas fa-heart"></a>
            <% } else { %>
              <a class="icon alt fa-heart"></a>
            <% } %>
          </button>
          </form>
        </div>
      </div>

      <header class="major">
        <h2>Setlist</h2>
      </header>
      <ul id="setlist">
        <li>Killing In the Name</li>
        <li>Crucify</li>
        <li>Après Moi</li>
        <li>Bland</li>
        <li>Butt Rock Blues</li>
        <li>Vow</li>
        <li>Closer</li>
        <li>Bad Romance</li>
        <li>Utopia</li>
        <li>March of the Pigs</li>
        <li>Never Gonna Give You Up</li>
        <li>Gangsta's Paradise</li>
      </ul>

      <div id="edit-show">
        <form action="/show/editShow/<%= show.id %>?_method=PUT" method="POST">
          <button type="submit" class="button">Edit</button>
        </form>
        
        <% if (show.createdBy == user.id) { %>
          <form action="/show/deleteShow/<%= show.id %>?_method=DELETE" method="POST">
            <button class="button primary" type="submit">Delete</button>
          </form>
        <% } %>
      </div>
    </section>
  </div>
</div>

<%- include('partials/footer') -%>
