<%- include('partials/headerAuth') -%>

<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h1><%= show.artist %></h1>
    </header>

    <!-- Content -->
    <section id="content" class="show-view">
      <a href="#" class="image fit"><img src="<%= show.image %>" alt="" /></a>
      <div id="show-info" class="col-12">
        <div id="tour-date">
          <h3><%= show.tourName || "Really Sweet Tour Name" %></h3>
          <h3>23 August 2022</h3>
        </div>
        <div id="location">
          <h4><%= show.venue || "Name of Venue" %></h4>
          <h4>Washington, DC</h4>
        </div>
        <div id="actions">
          <form action="/show/updateAttendance/<%= show.id %>?_method=PUT" method="POST">
            <button type="submit" class="button"><span>
            <% if (user.showsAttended.includes(show.id)) { %>
              Attended</span> <a class="alt fas fa-check"></a>
            <% } else { %>
              Did not attend</span> <a class="fas fa-times"></a>
            <% } %>
            </button>
          </form>
        
          <form action="/show/updateLikes/<%= show.id %>?_method=PUT" method="POST">
          <button type="submit" class="button">
            <span><%= show.userLikes.length %></span>
            <% if (show.userLikes.includes(user.id)) { %>
              <a class="icon fas fa-heart"></a>
            <% } else { %>
              <a class="icon alt fa-heart"></a>
            <% } %>
          </button>
          </form>
        </div>
      </div>

      <h3>Setlist</h3>
      <ol>
        <li>Faucibus orci lobortis ac adipiscing integer.</li>
        <li>Col accumsan arcu mi aliquet placerat.</li>
        <li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
        <li>Blandit massa non blandit tempor interdum.</li>
        <li>Lacinia mattis arcu nascetur lobortis.</li>
      </ol>

      <div id="edit-show">
        <form action="/show/editShow/<%= show.id %>?_method=PUT" method="POST">
          <button type="submit" class="button">Edit</button>
        </form>
        
        <% if (show.createdBy == user.id) { %>
          <form action="/show/deleteShow/<%= show.id %>?_method=DELETE" method="POST">
            <button class="button primary" type="submit">Delete</button>
          </form>
        <% } %>
      </div>
    </section>
  </div>
</div>

<%- include('partials/footer') -%>
